#sidebar {
    background-color:#fff;
    padding: 24px 12px 12px 12px;
}

#sidebar hr {
    border-top: 1px solid #dadce0;
}

#sidebar ul {
    margin: 0px;
    list-style: none;
}

#sidebar ul li {

    padding-top: 4px;
    padding-bottom: 4px;
}

a {
    text-decoration: none;
}

a.pending {
    background-color: lightgray;
}

a.active {
    background-color: aquamarine;
}