@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body{
  margin: 0;
  padding: 0;
  /* overflow:hidden; */
  font-family: 'Roboto', sans-serif;
  font-size: 14px
}

p{ 
   text-align: center; 
   overflow: overlay;
   /* position: relative; */
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248)
}

.App {
  display: grid;
  grid-template-columns: 256px auto;
  grid-template-rows: 64px 1200px;
}

.header-grid {
  grid-column-start: 1;
  grid-column-end: -1;
}

.sidebar-grid {
  grid-column-start: 1;
  grid-column-end: 2;
}

.graph-grid {
  grid-column-start: 2;
  grid-column-end: -1;
}

/* .header-flex-item {} */